</main>
<footer class="footer bg-black">
  <div class="container flex flex-row flex-space-between">
    <p class="font-xlarge line-height-big">12021, Damian Sikora</p>
    <span class="footer-links flex flex-column text-align-right">
      <a href="https://twitter.com/DS4d1n" class="link font-xlarge line-height-big">Twitter / DS4d1n</a>
      <a href="https://gitlab.com/dsikora6" class="link font-xlarge line-height-big">GitLab / dsikora6</a>
    </span>
  </div>
</footer>
