<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Language Learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>const topic = "<%= topic %>";</script>
  </head>
  <body class="flex flex-column bg-default">
    <header class="heading text-align-center">
      <h1 class="heading-text font-weight-bold bg-flag-text decoration" id="heading">
    </h1>
    </header>
    <main class="container">