<%- include("partials/top"); %>
<ul class="list mar-bottom-large" id="menu-list">
</ul>
<%- include("partials/footer"); %>
<script>const mode = "quiz"</script>
<script src="/scripts/menu.js"></script>
<%- include("partials/bottom"); %>