<%- include("../partials/top"); %>
<form action="/category/edit/<%= category %>?_method=PUT" method="POST" class="form">
  <input type="password" name="edit[password]" class="form-input font-large bg-default" placeholder="Password">
  <input type="text" name="edit[title]" class="form-input font-large bg-default" value="<%= category %>" placeholder="Category">
  <button class="button bg-flag hover-lighten no-border font-large form-button" id="gameButton">Submit</button>
</form>
<p class="font-medium mar-bottom-medium mar-top-medium">Delete category</p>
<form action="/category/<%= category %>?_method=DELETE" method="POST" class="form">
  <input type="password" name="password" class="form-input font-large bg-default" placeholder="Password">
  <button class="button bg-flag hover-lighten no-border font-large form-button">Delete</button>
</form>
<a href="/" class="button bg-white hover-darken font-large mar-top-medium mar-bottom-medium">Back</a>

<%- include("../partials/footer"); %>
<%- include("../partials/bottom"); %>