<%- include("../partials/top"); %>
<form action="/category" method="POST" class="form">
  <input type="password" name="new[password]" class="form-input font-large bg-default" placeholder="Password">
  <input type="text" name="new[title]" class="form-input font-large bg-default" placeholder="Category">
  <button class="button bg-flag hover-lighten no-border font-large form-button">Submit</button>
</form>
<a href="/" class="button bg-white hover-darken font-large mar-top-medium mar-bottom-medium">Back</a>

<%- include("../partials/footer"); %>
<%- include("../partials/bottom"); %>