<%- include("../partials/top"); %>
<form action="/flashcard/<%= id %>?_method=PUT" method="POST" class="form">
  <input type="password" name="edit[password]" class="form-input font-large bg-default" placeholder="Password">
  <textarea name="edit[flashcard]" id="flashcards" class="form-input font-large bg-default"><%= flashcard %></textarea>
  <button class="button bg-flag hover-lighten no-border font-large form-button">Submit</button>
</form>
<p class="font-medium mar-top-medium mar-bottom-medium">Delete:</p>
<form action="/flashcard/<%= id %>?_method=DELETE" method="POST" class="form">
  <input type="password" name="password" class="form-input font-large bg-default" placeholder="Password">
  <button class="button bg-flag hover-lighten no-border font-large form-button">Submit</button>
</form>
<a href="/" class="button bg-white hover-darken font-large mar-top-medium mar-bottom-medium">Back</a>

<%- include("../partials/footer"); %>
<script src="/scripts/form.js"></script>
<%- include("../partials/bottom"); %>