<%- include("../partials/top"); %>
<form action="/flashcard" method="POST" class="form">
  <input type="password" name="new[password]" class="form-input font-large bg-default" placeholder="Password">
  <textarea id="flashcards" name="new[flashcards]" class="form-input font-large bg-default">Flashcards</textarea>
  <button class="button bg-flag hover-lighten no-border font-large form-button">Submit</button>
</form>
<a href="/" class="button bg-white hover-darken font-large mar-top-medium mar-bottom-medium">Back</a>

<%- include("../partials/footer"); %>
<script src="/scripts/form.js"></script>
<%- include("../partials/bottom"); %>