/* * Prefixed by https://autoprefixer.github.io * PostCSS: v7.0.29, * Autoprefixer: v9.7.6 * Browsers: last 4 version */
@font-face {
  font-family: Raleway;
  src: url("./fonts/raleway.ttf");
}
@font-face {
  font-family: Clicker;
  src: url("./fonts/clickerscript.ttf");
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --flag-red: hsl(348, 96%, 40%);
  --flag-red-bright: hsl(348, 96%, 45%);
  --flag-white: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
  --background-bright: hsl(0, 0%, 15%);
  --text: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 2%);
  --success: hsl(120, 80%, 30%);
  --failure: hsl(0, 80%, 30%);
  --gradient-flag: linear-gradient(to right, var(--flag-red), var(--flag-red))
  --font-primary: Raleway, sans-serif;
  --font-decoration: Clicker, fantasy;
}
::selection {
  background-color: var(--flag-red);
  color: var(--flag-white);
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  min-height: 100vh;
}
/* UTILITIES */
.bg-black {
  background-color: var(--black);
  color: var(--text);
}
.bg-default {
  background-color: var(--background);
  color: var(--text);
}
.bg-failure {
  background-color: var(--failure);
  color: var(--text);
}
.bg-flag {
  background-color: var(--flag-red);
  color: var(--flag-white);
}
.bg-flag::selection {
  background-color: var(--flag-white);
  color: var(--flag-red);
}
.bg-flag .table-cell::selection {
  background-color: var(--flag-white);
  color: var(--flag-red);
}
.bg-flag-gradient {
  background-image: radial-gradient(var(--flag-red), var(--flag-red-bright) 120%);
  color: var(--text);
}
.bg-flag-text {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient-flag);
  color: transparent 
}
.bg-success {
  background-color: var(--success);
  color: var(--text);
}
.bg-white {
  background-color: var(--text);
  color: var(--background);
}
.button {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
}
.color-black {
  color: var(--black);
}
.color-failure {
  color: var(--failure);
}
.color-flag-red {
  color: var(--flag-red);
}
.color-flag-white {
  color: var(--flag-white);
}
.color-success {
  color: var(--success);
}
.color-white {
  color: var(--text);
}
.container {
  width: 90%;
  margin: 0 auto;
}
.decoration {
  font-family: var(--font-decoration);
}
.figure {
  border: 2px solid var(--text);
  border-radius: 3px;
}
.figure-top {
  height: 33vh;
  overflow: hidden;
  width: 100%;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center-cross {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-center-main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.font-decoration {
  font-family: var(--font-decoration);
}
.font-enormous {
  font-size: 7rem;
}
.font-huge {
  font-size: 4rem;
}
.font-large {
  font-size: 2rem;
}
.font-medium {
  font-size: 1.7rem;
}
.font-small {
  font-size: 1.4rem;
}
.font-weight-bold {
  font-weight: 600;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-thin {
  font-weight: 200;
}
.font-xlarge {
  font-size: 2.5rem;
}
.full-screen {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
.full-object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hidden {
  display: none;
}
.hover-darken:hover {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}
.hover-lighten, .hover-darken {
  -webkit-transition: -webkit-filter .2s;
  transition: -webkit-filter .2s;
  -o-transition: filter .2s;
  transition: filter .2s;
  transition: filter .2s, -webkit-filter .2s;
}
.hover-lighten:hover {
  -webkit-filter: brightness(1.15);
  filter: brightness(1.15);
}
.image {
  transition: all .2s;
}
.image:hover {
  transform: scale(1.1);
}
.image-contain {
  object-fit: contain;
}
.image-cover {
  object-fit: cover;
}
.image-max-height {
  height: 100%;
}
.image-max-width {
  width: 100%;
}
.letter-spacing-large {
  letter-spacing: .7rem;
}
.letter-spacing-medium {
  letter-spacing: .4rem;
}
.letter-spacing-small {
  letter-spacing: .2rem;
}
.line-height-big {
  line-height: 2;
}
.line-height-medium {
  line-height: 1.6;
}
.line-height-small {
  line-height: 1.1;
}
.link:link, .link:visited {
  color: var(--flag-white);
  text-decoration: none;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
.link:hover {
  color: var(--flag-red);
}
.mar-bottom-large {
  margin-bottom: 4rem;
}
.mar-bottom-medium {
  margin-bottom: 2rem;
}
.mar-bottom-small {
  margin-bottom: 1rem;
}
.mar-top-large {
  margin-top: 4rem;
}
.mar-top-medium {
  margin-top: 2rem;
}
.mar-top-small {
  margin-top: 1rem;
}
.no-border {
  border: none;
}
.pad-bottom-large {
  padding-bottom: 4rem;
}
.pad-bottom-medium {
  padding-bottom: 2rem;
}
.pad-bottom-small {
  padding-bottom: 1rem;
}
.pad-top-large {
  padding-top: 4rem;
}
.pad-top-medium {
  padding-top: 2rem;
}
.pad-top-small {
  padding-top: 1rem;
}
.pos-relative {
  position: relative;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.heading {
  padding: 5rem 1rem;
}
.heading-text {
  display: inline-block;
  font-size: 8rem;
  padding: 0 1rem;
}
.list {
  display: -ms-grid;
  display: grid;
  font-size: 2.5rem;
  gap: 3.3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  list-style: none;
}
.table {
  border: 3px solid currentColor;
}
.table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.table-row:not(:last-child) {
  border-bottom: 1px solid currentColor;
}
.table-cell {
  padding: 1rem 1.5rem;
}
.table-cell:not(:last-child) {
  border-right: 1px solid currentColor;
}
.form {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 2fr 2rem 3.5fr 2rem 1.5fr;
  grid-template-columns: 2fr 3.5fr 1.5fr;
}
.form-label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.form-input {
  border: 2px solid currentColor;
  font-family: inherit;
  padding: 1rem 1.5rem;
  -webkit-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s;
}
.form-input:focus {
  border-color: var(--flag-red);
  outline: none;
}
.result-text {
  border-radius: 50%;
  height: min(75vw, 60vh);
  width: min(75vw, 60vh);
}
.footer {
  margin-top: auto;
  padding: 2rem 0;
}
@media only screen and (max-width: 50em) {
  html {
      font-size: 56.25%;
 }
  .form {
      -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
 }
  .form-button {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;
 }
}
@media only screen and (max-width: 43.75em) {
  html {
      font-size: 50%;
 }
}
@media only screen and (max-width: 43.75em) {
  .table-row {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
 }
  .table-cell:first-child {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / span 2;
 }
  .table-cell:last-child {
      border-top: 1px solid currentColor;
 }
  .footer .flex-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
 }
  .footer .container p {
      text-align: right;
 }
}
@media only screen and (max-width: 25em) {
  html {
      font-size: 31.25%;
 }
}