<%- include("../partials/top"); %>
<form id="gameForm" class="form mar-bottom-large">
  <label for="gameInput" id="gameLabel" class="form-label font-large pos-relative"></label>
  <input type="text" placeholder="Answer" class="form-input font-large bg-default" id="gameInput">
  <button class="button bg-flag hover-lighten no-border font-large form-button" id="gameButton">Submit</button>
</form>
<div class="table flex flex-column mar-top-medium mar-bottom-medium" id="table">
  <div class="table-row font-large letter-spacing-small bg-flag">
    <div class="table-cell flex flex-center-cross">Question</div>
    <div class="table-cell flex flex-center-cross">Correct answer</div>
    <div class="table-cell flex flex-center-cross">Your answer</div>
  </div>
</div>
<a href="/" class="button bg-white hover-darken font-large mar-top-medium mar-bottom-medium">Back</a>
<div class="result bg-black full-screen flex flex-center-cross flex-center-main hidden" id="result">
  <p class="result-text font-enormous flex flex-center-cross flex-center-main" id="result-text">
    
  </p>
</div>
<%- include("../partials/footer"); %>
<script src="/scripts/quiz.js"></script>
<%- include("../partials/bottom"); %>
